#heading {
    background: darkgray;
    height: 80px;
    color: white;
    position: relative;
    text-align: center;

};

.head {
    font-size: 65px; 
    text-align: center;
}

.jumbotron {
    background-color: grey;
    
}

.col-sm-3 {
    padding-left: 5px;
}

.container {
    padding-top: 30px;
}

#card-place {
    float: left;
    column-gap: 65px;
    margin-left: 15px;
    margin-right: 10px;
}


