#heading {
    background: darkgray;
    height: 80px;
    color: white;
    position: relative;
    text-align: center;

};

.head {
    font-size: 65px; 
    text-align: center;
}

.jumbotron {
    background-color: lightgrey;
    
}

.col-sm-3 {
    padding-left: 5px;
}

.container {
    padding-top: 30px;
}